/* .weather-widget {
    background-color: #444;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
  }
  .temperature {
    font-size: 18px;
    font-weight: bold;
  } */
  